/*---------- import font google  ไม่ต้องแก้อะไร เป็นการ import font เฉยๆ -------------*/
/*------------------------ font style -----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/*---------- โค้ด body ตัวเว็บทั้งหน้า -------------*/
/*------------------------ body -----------------------*/
* {
  /*---------- ทำการ reset -------------*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.bg-img {
  /*---------- คลาสรูปภาพพื้นหลังแก้เฉพาะตรงนี้ -------------*/
  background-image: url("../../images/bg05.png");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

/*------------------------ container box -----------------------*/
.container {
  /*---------- คลาส container (ขนาด-ความกว้าง) คลุม content ทั้งหมด -------------*/
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/*------------------------ header -----------------------*/
header {
  /*---------- พื้นหลัง navbar -------------*/
  width: 100%;
  height: 120px;
  background: white;
  border-radius: 3px;
  box-shadow: 2px 3px 2px 2px rgba(122, 122, 122, 0.1);
}

.nav-grid {
  /*---------- วางกริด-------------*/
  display: grid;
  grid-template-columns: 700px 1fr;
}

.logo {
  /*---------- ตัวอักษรชื่อระบบ แก้ตรงนี้ อันนี้มีตั้งความห่าง-สูง กับ สีตัวอักษรไว้ -------------*/
  margin-top: 10px;
  color: black;
}

.logo h1 {
  /*---------- ตัวอักษรชื่อระบบ แก้ตรงนี้ อันนี้มีตั้งขนาด ลักษณะ cursor ตัวอักษรไว้ -------------*/
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Sarabun", sans-serif;
  cursor: context-menu;
  /*---------- cursor คือ เวลาเลื่อนเม้าส์ไปขี้จะเป็นรูป context-menu  -------------*/
}

img {
  /*---------- โลโก้ -------------*/
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

ul.menu {
  /*---------- กริด 2 ช่อง ชื่อระบบ 1 ปุ่มด้านขวา 1-------------*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-top: 10%;
  text-align: center;
}

ul.menu li {
  list-style: none;
}

ul.menu li a {
  /*---------- ตัวอักษร ปุ่มด้านขวา-------------*/
  color: black;
  text-decoration: none; /*---------- ไม่เอาขีเส้นใต้-------------*/
  text-transform: uppercase; /*---------- เอาตัวอักษรตัวใหญ่-------------*/
  padding: 7px 27px;
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
}

#logout {
  /*---------- ปุ่มออกจากระบบ -------------*/
  color: white;
}

.logout {
  /*---------- อันนี้เป้ฯลักษณะของปุ่ม-------------*/
  background: #0000d2;
  box-shadow: 2px 3px 2px 2px rgba(122, 122, 122, 0.1);
  border-radius: 40px;
  transition: 0.3s ease-in-out;
}

.logout:hover {
  /*---------- เวลาเลื่อนเม้าส์ไปชี้ปุ่่มจะ swip เป็นสีดำ-------------*/
  background: black;
}

/*------------------------ content -----------------------*/
.content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
}

/*------------------------ content heading -----------------------*/
.content-heading {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.content-heading-grid {
  /*---------- กำหนดให้ปุ่มเพิ่มโครงการอยู่ด้านซ้าย -------------*/
  text-align: left;
}

/*------------------------ content back -----------------------*/
.content-back {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.content-back-grid {
  text-align: right;
}

a.button-back,
.button-back {
  display: inline-block;
  line-height: 64px;
  width: 50px;
  height: 50px;
  background: white;
  box-shadow: 3px 4px 3px 3px rgba(122, 122, 122, 0.1);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.button-back i {
  color: black;
  font-size: 40px;
}

.button {
  /*---------- คลาสส่วนปุ่มเพิ่มโครงการ-------------*/
  background: #00eb00;
  box-shadow: 2px 3px 2px 2px rgba(122, 122, 122, 0.1);
  border-radius: 40px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  /*---------- เวลาลากเม้าส์ไปชี้ที่ปุ่มส่วนปุ่มเพิ่มโครงการ-------------*/
  background: white;
  color: black;
}

a.button {
  /*---------- รูปแบบตัวอักษรส่วนปุ่มเพิ่มโครงการ-------------*/
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 27px;
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
}

.btn-danger,
.btn-success {
  box-shadow: 2px 3px 2px 2px rgba(122, 122, 122, 0.1);
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  border-radius: 40px;
  padding: 6px 26px;
  border: none;
}

.modal-body,
.col-form-label {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  color: black;
}

.modal-title {
  font-family: "Sarabun", sans-serif;
  color: black;
  font-size: 20px;
  cursor: context-menu;
  font-weight: bolder;
}

/*------------------------ content profile -----------------------*/
.content-profile {
  width: 100%;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 3px 4px 3px 3px rgba(122, 122, 122, 0.1);
  padding-top: 25px;
  padding-bottom: 25px;
}

.profile-form-title {
  text-align: center;
  display: block;
  font-family: "Sarabun", sans-serif;
  text-transform: uppercase;
  font-size: 19px;
  color: black;
  cursor: context-menu;
  padding-top: 15px;
}

.profile-form-title2 {
  margin-top: 13px;
  margin-left: 50px;
  display: block;
  border-top: black solid 1px;
  text-align: center;
  width: 90%;
}

/*------------------------ content table -----------------------*/
.content-table {
  margin-bottom: 25px;
  margin-top: 20px;
  width: 100%;
  height: auto;

  display: flex;
  position: relative;
  justify-content: center;
}

.table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 4px 3px 3px rgba(122, 122, 122, 0.1);
}

table td,
table th {
  padding-left: 8px;
}

table thead tr {
  background: black;
}

table tbody tr {
  height: 50px;
}

table td,
table th {
  text-align: center;
}

.table-head th {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: context-menu;
}

tbody tr {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  color: black;
  cursor: context-menu;
}

tbody tr:hover {
  background-color: whitesmoke;
}
