/*------------------------ 
i fix container width : 960 px 
is notebook and tablet size 

ตั้งค่า element อื่น นอกจากตาราง
---------------------------*/

/*------------------------ media query pc 1920x1080 -----------------------*/
/*---------- ขนาดจะอยู่ระหว่างครึ่งหน้าจอ-------------*/
@media only screen and (max-width: 1200px) {
  header {
    height: auto;
  }

  .nav-grid {
    text-align: center;
    grid-template-columns: 360px 1fr;
  }

  ul.menu {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    text-align: right;
  }

  ul.menu li {
    height: 4rem;
  }

  .logo {
    margin-top: 40px;
  }
  .logo h1 {
    font-size: 23px;
  }

  img {
    width: 0px;
    height: 0px;
  }

  ul.menu li a {
    padding: 7px 27px;
    font-size: 23px;
  }

  a.button {
    padding: 7px 27px;
    font-size: 23px;
  }

  .content-back-grid {
    text-align: right;
  }

  a.button-back,
  .button-back {
    display: inline-block;
    line-height: 64px;
    width: 50px;
    height: 50px;
  }

  .button-back i {
    font-size: 40px;
  }
}

/*------------------------ media query half display-----------------------*/
/*---------- ขนาดจะอยู่ระหว่าง ipad ipad pro-------------*/
@media only screen and (max-width: 800px) {
  header {
    height: auto;
  }

  .nav-grid {
    text-align: center;
    grid-template-columns: 250px 1fr;
  }

  ul.menu {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    text-align: right;
  }

  ul.menu li {
    height: 4rem;
  }

  .logo {
    margin-top: 40px;
  }
  .logo h1 {
    font-size: 15px;
  }

  img {
    width: 0px;
    height: 0px;
  }

  ul.menu li a {
    padding: 6px 14px;
    font-size: 15px;
  }

  a.button {
    padding: 6px 14px;
    font-size: 15px;
  }

  .content-back-grid {
    text-align: right;
  }

  a.button-back,
  .button-back {
    display: inline-block;
    line-height: 40px;
    width: 35px;
    height: 35px;
  }

  .button-back i {
    font-size: 25px;
  }
}

/*------------------------ media query mobile -----------------------*/
/*---------- ขนาดจะอยู่ระหว่างมือถือ ------------*/
@media only screen and (max-width: 480px) {
  header {
    height: auto;
  }

  .nav-grid {
    text-align: center;
    grid-template-columns: 170px 1fr;
  }

  ul.menu {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 11%;
  }

  ul.menu li {
    height: 2.5rem;
  }

  .logo {
    margin-top: 26px;
  }
  .logo h1 {
    font-size: 10px;
  }

  ul.menu li a {
    padding: 3px 10px;
    font-size: 10px;
  }

  img {
    width: 0px;
    height: 0px;
  }

  a.button {
    font-size: 10px;
  }

  .content-heading {
    margin-top: 60px;
    width: 100%;
    height: auto;
  }

  .content-heading-grid {
    text-align: left;
  }

  .content-back-grid {
    text-align: right;
  }

  a.button-back,
  .button-back {
    display: inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
  }

  .button-back i {
    font-size: 20px;
  }
}
